@font-face {
  font-family: 'sdj';
  src:  url('../fonts/sdj.eot?m5nppi');
  src:  url('../fonts/sdj.eot?m5nppi#iefix') format('embedded-opentype'),
    url('../fonts/sdj.ttf?m5nppi') format('truetype'),
    url('../fonts/sdj.woff?m5nppi') format('woff'),
    url('../fonts/sdj.svg?m5nppi#sdj') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sdj-"], [class*=" sdj-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sdj' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdj-addshanchu:before {
  content: "\e900";
  color: #999;
}
.sdj-cuo:before {
  content: "\e901";
  color: #ededed;
}
.sdj-hshouyesousuo:before {
  content: "\e902";
  color: #999;
}
.sdj-jinruxiaosanjia:before {
  content: "\e903";
  color: #c4c4c4;
}
.sdj-logback:before {
  content: "\e904";
  color: #4c4c4c;
}
.sdj-logdele .path1:before {
  content: "\e905";
  color: rgb(204, 204, 204);
}
.sdj-logdele .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.sdj-logdele .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.sdj-logqq .path1:before {
  content: "\e908";
  color: rgb(111, 195, 242);
}
.sdj-logqq .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sdj-logweixin:before {
  content: "\e90a";
  color: #7acc29;
}
.sdj-mya1:before {
  content: "\e90b";
  color: #4ac36e;
}
.sdj-mya4:before {
  content: "\e90c";
  color: #ffaf40;
}
.sdj-mya7:before {
  content: "\e90d";
  color: #4c4c4c;
}
.sdj-mya11 .path1:before {
  content: "\e90e";
  color: rgb(255, 136, 76);
}
.sdj-mya11 .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sdj-mya12:before {
  content: "\e910";
  color: #ededed;
}
.sdj-mya15:before {
  content: "\e911";
  color: #999;
}
.sdj-mya16:before {
  content: "\e912";
  color: #0276ff;
}
.sdj-s2:before {
  content: "\e913";
}
.sdj-s5 .path1:before {
  content: "\e914";
  color: rgb(255, 255, 255);
}
.sdj-s5 .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: none;
}
.sdj-s5 .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.sdj-s6 .path1:before {
  content: "\e917";
  color: rgb(255, 255, 255);
}
.sdj-s6 .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: none;
}
.sdj-s6 .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(249, 158, 32);
}
.sdj-s16:before {
  content: "\e91a";
  color: #fff;
}
.sdj-s20:before {
  content: "\e91b";
  color: #dedede;
}
.sdj-wenhao:before {
  content: "\e91c";
  color: #ededed;
}
